.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-element {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.scanner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
