.products-container {
}
.title {
    margin: 20px 0;
}
.path-container {
    display: flex;
    
}
.path {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    h4 {
        margin: 0;
        font-size: 20px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: #576fda;
        }
        
        &:not(:last-child)::after {
            content: ">";
            color: #000;
            text-decoration: none;
            margin-left: 5px;
        }
    }
}
.product-btns {
}
.back-button {
    margin: 20px 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #45a049;
    }

}
.buttons-container, .product-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.button-item {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 180px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
        transform: translateY(-5px);
        background-color: #357abd;
    }
}
.product-item {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 180px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
        background-color: #357abd;
    }

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #45a049;
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        color: #000;

        &:hover {
            background-color: darken($color: #ddd, $amount: 10);
        }

        button {
            cursor: not-allowed;
        }
    }
}
.create-product-button {
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #45a049;
    }
}